<footer class="footer">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.danfoss.ru" target="blank">
                        Danfoss
                    </a>
                </li>
                <li>
                    <a href="http://www.danfoss.ru/products" target="blank">
                        Продукция
                    </a>
                </li>
                <li>
                    <a href="http://www.danfoss.ru/about" target="blank">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="http://www.danfoss.ru/call_center/" target="blank">
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{date | date: 'yyyy'}}, made specifically for&nbsp;
            <a href="http://www.danfoss.ru" target="blank">Danfoss</a>.
        </div>
</footer>
